.messages-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #f5f5f5;
   
    ::-webkit-scrollbar{   /* this is for the whole scrollbar */
        width: 6px;
    }
    ::-webkit-scrollbar-track{  /* this is for the track of scroll bar */
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb{  /* this is for the moving part of scroll bar */
        background: #888;
        border-radius: 3px;
    }
    ::-webkit-scrollbar-thumb:hover{ /* this is for the moving part of scroll bar when hovered */
        background: #555;
    }
}

